html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(250, 210, 211, 0.9);
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
